*{ 
padding: 0px;
margin: 0px;
}
body{
    padding-top: 20px;
    text-align: center;
    background-image: url(../imgs/old_map.png);
    
}
div#page {
    width: 960px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}
header{
    font-family: Courier;
    color: white;
    font-size: 1.1em;
    border-bottom: solid black 6px;
    background-color: #313B44;
}
h1{
    background-image: url(../imgs/cvimg.jpg);
    background-repeat: no-repeat;
    background-position: 25px center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
}
nav{
    font-family: Courier;
    font-size: 1.4em;
    color: silver;
    text-align: center;
    background-image: url(../imgs/red015.jpg);
    background-repeat: repeat;
}
nav li{
    padding-top: 80px;
    margin-top: 0px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-left: 50px;
    list-style: none;
    display: inline-block;
    text-align: center;
    cursor: default;
}
li#estudios{
    background-image: url(../imgs/monitor.png);
    background-repeat: no-repeat;
    background-position: top 10px center;
}
li#conocimientos{
    background-image: url(../imgs/open-book.png);
    background-repeat: no-repeat;
    background-position: top 10px center;
}
li#contacto{
    background-image: url(../imgs/contact-information.png);
    background-repeat: no-repeat;
    background-position: top 10px center;
}
section{
    font-family: verdana;
    font-size: 0.8em;
    background-image: url(../imgs/lgrey008.jpg);
    width: 100%;
    display: table;
}
article{
    width: 240px;
    border: 1px solid lightgray;
    background-color: white;
    text-align: center;
    line-height: 1.8em;
    padding: 5px 5px 22px 5px;
    margin: 30px;
    float: left;
}
article header{
    border-bottom: 1px solid #999999;
}
h2{
    padding: 10px;
    font-size: 1.2em;
}
footer{
    clear: both;
    color: white;
    font-size: 0.7em;
    text-align: center;
    background-color: #313B44;
    border-top: 6px black solid;
    padding-top: 15px;
    padding-bottom: 15px;
}
footer a{
    background-color: white;
}
li a{
    color: white;
}
